



/*desktop*/
body {
    background-color: #00BFFF;
    margin: 0;
    /*        align-content: center;
*/
}

input {
    background-color: lightskyblue;
    height: 15%;
    width: 30%;
    font-size: 130%;
}

img {
    width: 40%;
/*    height: 40%;
*/    padding: 1%;
}


.index_img {
   width: 100%; 
/*   margin-left:25%;
*/}


#historyh1, #notableh1, #demoh1, #indexh1 {
    margin-top: 7%;
}
#demoh1, #indexh1 {
    margin-left: 50%;
}





a /*:not(.content_button_down, .content_button_up, .up, .down)*/ {
    background-color: royalblue;
    box-shadow: 5px 5px black;
}

a {
    margin: 1%;
}


.con
{
    background-color:none;
}
/*#demoh1{
    margin-top: 15%;
}*/

.data1, .data3, .data5 {
    background-color: #FF4000;
}

.data2, .data4 {
    background-color: #00FFC0;
}



.data {
    width: 100%;
    height: 27em;
    color: white;
/*    margin: 0.03%;
*/
}

.data h1, .data h3, .data a
{
    padding: 0.5%;
}


.data img{
    height: 50%;
}
    /* article {
        background-color: darkblue;
        color: white;
        width: 100%;
        height: 50%;
        animation: fadein 2s;
        position: relative;
    }*/
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    /*make sure space is reserved for element*/
    /*step 1: set every display same size, position relative*/

   

    a {
        color: aliceblue;
    }


    /*UP AND DOWN BUTTONS*/
#downButton, .content_button_down {
    transform: rotate(90deg);
}

#upButton, .content_button_up {
    transform: rotate(-90deg);
}

    #downButton, #upButton, .content_button_up, .content_button_down {
        width: 10%;
        height: 5%;
        margin: 2%;
        cursor: pointer;
        padding: 1.5%;
/*        border-radius: 50%;
*/        /*position:fixed;*/
    }


        #downButton img, #upButton img, #upButton_con img, #downButton_con img {
            width: 200%;
            height: 200%;
/*            border-radius: 50%;
*/        }




    .con {
        padding: 2%;
    }


    .phone{
        display:none;
    }
    
    .art-cls
    {
        background-color: darkblue;
        color: white;
    }



    /*FOR SIDE NAVIGATION MENU*/
    nav {
        margin-top: 5%;
        padding: 0;
        width: 15%;
        background-color: darkturquoise;
        float:left;
        position: fixed;
/*          overflow:hidden;
*/        height: 100%;

        overflow: scroll;
    }

    .content_button_up, .content_button_down {
        display: none;
    }

    /* Sidebar links */
    nav a {
        display: block;
        color: black;
        /*    background-color: white;
    */ padding: 1%;
            text-decoration: none;
    }

    /* Active/current link */
    /*nav a.active {
    background-color: cornflowerblue;
    color: white;
}*/

    /* Links on mouse-over */
    /*nav a:hover:not(.active) {
    background-color: darkcyan;
    color: white;
}*/

    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    .content {
        margin-left: 15%;
        padding: 1%;
        height: 100%;
    }



    /*FOR TOP NAVIGATION MENU*/
.topnav {
    margin: 0px;
    padding: 0px;
   
    background-color: darkcyan;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

/*nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkturquoise;*/
    /*        float:left;
*/ /*position: fixed;
    height: 100%;
    overflow: scroll;
}*/


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: blue;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
display: none;
}




/*Tablet*/
@media screen and (max-width: 720px) {


    /*.lightblue, .green {
        width: 50%;
    }*/


    /*.lightblue, .green {
    width: 50%;
}

.darkblue {
    width: 50%;*/
    /*        height: 20em*/
    /*height: 50%;
}

#container2 {
    width: 50%
}*/
}


/*Phone*/
@media screen and (max-width: 540px) {
    .data {
        height: 50em
    }

       
    .content_button_up, .content_button_down {
        display: block;
    }

      

    /*make sidebar be gone*/
    nav {
        display: none;
        width: 0px;
    }

    .content {
        margin-left: 0px;
        padding: 0px;
        align-items: center;
    }

   

    /*Hide all links*/
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }


    /* For the toggling of hamburger menu, displaying it vertically*/
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .data img {
        width: 100%;
    }
}


@media screen and (min-width:540px) {
    .data2, .data3 {
        width: 50%;
    }

   
}

@media screen and (min-width:720px) {
    .data1, .data2 {
        width: 50%;
    }

    .data3, .data4, .data5 {
        width: 33.33%;
    }
}


.container {
    display: flex;
    flex-wrap: wrap;
}