*{font-size: 1.1em;}

#all{
    width: 400px;
    height: 600px;
    position: relative;
    overflow: hidden;
    font-family: 'Antic Slab', serif;
}

#all>div{
    width: 100%;
    height: 90%;
    display: none;
    position: absolute;
}

/* #all>#MainTopic{
    
}

#all>#subtopic1{
}

#all>#subtopic2{
}

#all>#subtopic3{
} */

/* #all>#MainTopic>#ButtonArea{
    position: absolute;
    top: 50%;
} */

#navcontrols{
    position: absolute;
    bottom: 0;
    background: black;
    width: 100%;
    height: 6%,
}
#btn_next{
    position: absolute;
    right: 0;
}
#background{
    width: 100%;
    position: absolute;
    z-index: 0;
}
#background1{
    width: 100%;
    position: absolute;
    z-index: -1;
}
#background2{
    width: 100%;
    position: absolute;
    
    z-index: -1;
}
#curtain1{
    position: absolute;
    z-index: 1;
    opacity: 0;
}
#curtain2{
    position: absolute;
    z-index: 1;
    opacity: 0;
}
#curtain3{
    position: absolute;
    z-index: 1;
    opacity: 0;
}
#curtain4{
    position: absolute;
    z-index: 1;
    opacity: 0;
}
#curtain5{
    position: absolute;
    z-index: 1;
    opacity: 0;
}
#curtain6{
    position: absolute;
    z-index: 1;
    opacity: 0;
}

/* ______________________________________________________________________ */
h1{
    position:absolute;
    z-index: 3;
    top: 5px;
    left: 15px;
    color: rgb(48, 36, 36);
}

#scroll{
    position: absolute;
    width: 85%;
    right: 30%;
    bottom: 408px;
    z-index: 2;
}

h2{
    position: relative;
    z-index: 1;
    top: 15px;
    text-align: center;

}
#sub3text{
    position: absolute;
    z-index: 1;
    top: 15px;
    text-align: center;
    margin-left: 100px;

}
#ButtonArea{
    z-index: 4;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 90px;
    right: 43px;
    
}
#sub_name1{
    position: absolute;
    z-index: 4;
    font-size: 23px;
    left: 13%;
    margin: 0;
    margin-top: 3%;
}
#sub_name2{
    position: absolute;
    z-index: 4;
    font-size: 23px;
    left: 13%;
    margin: 0;
    margin-top: 18%;
}
#sub_name3{
    position: absolute;
    z-index: 4;
    font-size: 23px;
    left: 13%;
    margin: 0;
    margin-top: 33%;
}
#sub_name1:hover {
    color: white;
    cursor: pointer;
  }
#sub_name2:hover {
    color: white;
    cursor: pointer;
  }
#sub_name3:hover {
    color: white;
    cursor: pointer;
  }

#btn_sub1back{
    position: absolute;
    z-index: 1;
}
#bottom_nav{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 7%;
    display: flex;
    gap: 80px;
    margin-top: 87%;
    margin-left: 11%;
}
#bottom_nav1{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 7%;
    display: flex;
    gap: 80px;
    margin-top: 117.2%;
    margin-left: 41.8%;
}
#bottom_nav3{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 7%;
    display: flex;
    gap: 80px;
    margin-top: 135.5%;
    margin-left: 11%;
}
.front{
    cursor: pointer;
}
.menu{
    cursor: pointer;
}
.back{
    cursor: pointer;
}

/* ------------------------------------------------------- */
#shufa_speaker{
    width: 5%;
}
#shufa_text{
    font-size: 15px;
    position: absolute;
    z-index: 5;
    width: 80%;
    margin-left: 40px;
    margin-top: 47px;
}
#heading{
    font-size: 20px;
}


/* ------------------------------------------------------- */
#scroll_sub{
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 380px;
    z-index: 0;
}

#extend{
    position: absolute;
    width: 90%;
    height: 96%;
    z-index: 1;
    top: 80px;
    left: 20px;
}

#icons{
    z-index: 3;
    width: 85%;
    position: relative;
    left: 37px;
    top: 40px;
    display: flex;
    gap: 5px;
}

#icons_blue{
    z-index: 3;
    width: 85%;
    position: relative;
    left: 37.5px;
    bottom: 20.5px;
    display: flex;
    gap: 5px;
}

#seal_blue{
    opacity: 0;
    cursor: pointer;
}
#clerical_blue{
    opacity: 0;
    cursor: pointer;
}
#regular_blue{
    opacity: 0;
    cursor: pointer;
}
#semicursive_blue{
    opacity: 0;
    cursor: pointer;
}
#cursive_blue{
    opacity: 0;
    cursor: pointer;
}

#seal_speaker{
    width: 5%;
}

#seal_text{
    font-size: 15px;
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-left: 40px;
    opacity: 0;
    margin-top: 0px;
}
#grid{
    position: absolute;
    z-index: 3;
    left: 40px;
    margin-top: 40%;
    opacity: 0;
}

#seal_line{
    position: absolute;
    z-index: 4;
    left: 75px;
    margin-top: 45%;
    opacity: 0;
}
#seal1{
    position: absolute;
    z-index: 4;
    left: 83px;
    margin-top: 45.5%;
    opacity: 0;
}
#seal2{
    position: absolute;
    z-index: 4;
    left: 86px;
    margin-top: 44%;
    opacity: 0;
}
#seal3{
    position: absolute;
    z-index: 4;
    left: 80px;
    margin-top: 48.5%;
    opacity: 0;
}
#seal4{
    position: absolute;
    z-index: 4;
    left: 63.5px;
    margin-top: 42.5%;
    opacity: 0;
}
#seal5{
    position: absolute;
    z-index: 4;
    left: 77px;
    margin-top: 56%;
    opacity: 0;
}
#seal6{
    position: absolute;
    z-index: 4;
    left: 89.5px;
    margin-top: 59%;
    opacity: 0;
}
#write_seal{
    position: absolute;
    z-index: 3;
    right: 40;
    margin-top: 70%;
    opacity: 0;
    font-size: 20px;
    border: 1px solid rgb(110, 134, 156);
    background-color: rgb(238, 247, 255);
    font-family: 'Antic Slab', serif;
}
#write_seal:hover {
    background-color: rgb(110, 134, 156);
    color: white;
  }
/* --------------------------------------------------- */
#clerical_text{
    font-size: 15px;
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-left: 40px;
    opacity: 0;
    margin-top: 0px;
}
#clerical_grid{
    position: absolute;
    z-index: 3;
    left: 40px;
    margin-top: 40%;
    opacity: 0;
}

#clerical_line{
    position: absolute;
    z-index: 4;
    left: 57px;
    margin-top: 50%;
    opacity: 0;
}
#write_clerical{
    position: absolute;
    z-index: 3;
    right: 40;
    margin-top: 70%;
    opacity: 0;
    font-size: 20px;
    border: 1px solid rgb(110, 134, 156);
    background-color: rgb(238, 247, 255);
    font-family: 'Antic Slab', serif;
}
#write_clerical:hover {
    background-color: rgb(110, 134, 156);
    color: white;
  }
#clerical_speaker{
    width: 5%;
}
#clerical1{
    position: absolute;
    z-index: 4;
    left: 67px;
    margin-top: 49.3%;
    opacity: 0;
}
#clerical2{
    position: absolute;
    z-index: 4;
    left: 55px;
    margin-top: 51.2%;
    opacity: 0;
}
#clerical3{
    position: absolute;
    z-index: 4;
    left: 75px;
    margin-top: 53.7%;
    opacity: 0;
}
#clerical4{
    position: absolute;
    z-index: 4;
    left: 75px;
    margin-top: 57.7%;
    opacity: 0;
}
#clerical5{
    position: absolute;
    z-index: 4;
    left: 112.7px;
    margin-top: 50%;
    opacity: 0;
}
#clerical6{
    position: absolute;
    z-index: 4;
    left: 61px;
    margin-top: 67.5%;
    opacity: 0;
}
/* ----------------------------------------------------- */
#regular_text{
    font-size: 15px;
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-left: 40px;
    opacity: 0;
    margin-top: 0px;
}
#regular_grid{
    position: absolute;
    z-index: 3;
    left: 40px;
    margin-top: 40%;
    opacity: 0;
}

#regular_line{
    position: absolute;
    z-index: 4;
    left: 64px;
    margin-top: 44%;
    opacity: 0;
}
#write_regular{
    position: absolute;
    z-index: 3;
    right: 40;
    margin-top: 70%;
    opacity: 0;
    font-size: 20px;
    border: 1px solid rgb(110, 134, 156);
    background-color: rgb(238, 247, 255);
    font-family: 'Antic Slab', serif;
}
#write_regular:hover {
    background-color: rgb(110, 134, 156);
    color: white;
  }
#regular_speaker{
    width: 5%;
}
#regular1{
    position: absolute;
    z-index: 4;
    left: 82px;
    margin-top: 44.5%;
    opacity: 0;
}
#regular2{
    position: absolute;
    z-index: 4;
    left: 77px;
    margin-top: 47.7%;
    opacity: 0;
}
#regular3{
    position: absolute;
    z-index: 4;
    left: 108px;
    margin-top: 50.5%;
    opacity: 0;
}
#regular4{
    position: absolute;
    z-index: 4;
    left: 100px;
    margin-top: 55.5%;
    opacity: 0;
}
#regular5{
    position: absolute;
    z-index: 4;
    left: 112.7px;
    margin-top: 48%;
    opacity: 0;
}
#regular6{
    position: absolute;
    z-index: 4;
    left: 65px;
    margin-top: 63.8%;
    opacity: 0;
}


/* ----------------------------------------------------- */
#semi_text{
    font-size: 15px;
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-left: 40px;
    opacity: 0;
    margin-top: 0px;
}
#semi_grid{
    position: absolute;
    z-index: 3;
    left: 40px;
    margin-top: 40%;
    opacity: 0;
}

#semi_line{
    position: absolute;
    z-index: 4;
    left: 64px;
    margin-top: 47.5%;
    opacity: 0;
}
#write_semi{
    position: absolute;
    z-index: 3;
    right: 40;
    margin-top: 70%;
    opacity: 0;
    font-size: 20px;
    border: 1px solid rgb(110, 134, 156);
    background-color: rgb(238, 247, 255);
    font-family: 'Antic Slab', serif;
}
#write_semi:hover {
    background-color: rgb(110, 134, 156);
    color: white;
  }
#semi_speaker{
    width: 5%;
}
#semi1{
    position: absolute;
    z-index: 4;
    left: 78px;
    margin-top: 48.7%;
    opacity: 0;
}
#semi2{
    position: absolute;
    z-index: 4;
    left: 91px;
    margin-top: 46.2%;
    opacity: 0;
}
#semi3{
    position: absolute;
    z-index: 4;
    left: 57px;
    margin-top: 63.5%;
    opacity: 0;
}
#semi4{
    position: absolute;
    z-index: 4;
    left: 117.4px;
    margin-top: 59.5%;
    opacity: 0;
}
/* ----------------------------------------------------- */
#cursive_text{
    font-size: 15px;
    position: absolute;
    z-index: 3;
    width: 80%;
    margin-left: 40px;
    opacity: 0;
    margin-top: 0px;
}
#cursive_grid{
    position: absolute;
    z-index: 3;
    left: 40px;
    margin-top: 40%;
    opacity: 0;
}

#cursive_line{
    position: absolute;
    z-index: 4;
    left: 64px;
    margin-top: 47.5%;
    opacity: 0;
}
#write_cursive{
    position: absolute;
    z-index: 3;
    right: 40;
    margin-top: 70%;
    opacity: 0;
    font-size: 20px;
    border: 1px solid rgb(110, 134, 156);
    background-color: rgb(238, 247, 255);
    font-family: 'Antic Slab', serif;
}
#write_cursive:hover {
    background-color: rgb(110, 134, 156);
    color: white;
  }
#cursive_speaker{
    width: 5%;
}
#cursive1{
    position: absolute;
    z-index: 4;
    left: 61.5px;
    margin-top: 45.73%;
    opacity: 0;
}
#cursive2{
    position: absolute;
    z-index: 4;
    left: 65.3px;
    margin-top: 53.5%;
    opacity: 0;
}
/* ---------------------------------------------------------------------------------- */
.board_p{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_p{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
.board_title{
    font-size: 25px;
}
#paper_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 30%;
}
/* --------------- */
.board_d{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_d{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
#deskpad_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 19%;
}
/* --------------- */
.board_w{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_w{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
#paperweight_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 19%;
}
/* --------------- */
.board_b{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_b{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
#brush_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 19%;
}
/* --------------- */
.board_s{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_s{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
#sealr_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 19%;
}
/* --------------- */
.board_i{
    z-index: 5;
    position: absolute;
    margin-top: 6%;
    margin-left: 5%;
}
.board_back_i{
    position:absolute;
    right: 50px;
    top: 200px;
    z-index: 6;
    cursor: pointer;
}
#ink_text{
    font-size: 15px;
    position: absolute;
    z-index: 6;
    width: 60%;
    margin-left: 55px;
    margin-top: 19%;
}
/* ------------------------------------------------------------------------- */
#scroll_sub3{
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 380px;
    z-index: 0;
}
#sealr{
    position: absolute;
    bottom: 40px;
    right: 20px;
    display: block;
}
#sealr:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}

#deskpad{
    position: absolute; 
    margin-left: 27%;
    margin-top: 50%;
}
#deskpad:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}
#paper{
    position: absolute;
    margin-top: 40%;
    margin-left: 36%;
    z-index: 2;
}
#paper:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}
#brush{
    position: absolute;
    margin-top: 60%;
    margin-left: 5%;
}
#brush:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}
#inkstone{
    position: absolute;
    margin-left: 8%;
    margin-top: 20%;
}
#inkstone:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}
#paperweight{
    position: absolute;
    margin-top: 40%;
    margin-left: 30%;
    z-index: 3;
}
#paperweight:hover {
    transition: .5s ease;
    opacity: 0.5;
    cursor: pointer;
}